*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board{
    width: 90%;
    height: 550px;
    margin: 0 auto;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
}

#cano{
    position: absolute;
    bottom: -13px;
    width: 120px;
    height: 105px;
    animation: pipe-animation 2s infinite linear;
}

#mario-correndo{
    position: absolute;
    bottom: 0;
    width: 150px;
}

.jump{
    animation: jump 500ms ease-out;
}

@keyframes pipe-animation {
    from {
        right: -83px;
    }

    to {
        right: 100%;
    }
}

@keyframes jump {
    0% {
        bottom: 0px;
    }

    40% {
        bottom: 180px;
    }

    60% {
        bottom: 180px;
    }

    100% {
        bottom: 0px;
    }
}